main {
  margin-top: 100px;
}

form {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr 1fr 1fr 8fr 1fr;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
}

legend {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
}

#image-container-preview {
  margin-top: 10px;
  max-width: 400px;
}

#image-container-preview > .imgList {
  padding-left: none;
}

#image-container-preview img {
  width: 100%;
  margin-bottom: 10px;
}

.button {
  background-color: #AC0D0D;
  border: 1px solid #AC0D0D;
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.button:hover {
  background-color: #bb0e0e;
}

#addBtn {
  background-color: #0dac5d;
  border: 1px solid #0dac5d;
}

#addBtn:hover {
  background-color: #0ebb79;
}

input, textarea {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

@media screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: none;
    grid-auto-rows: auto;
    gap: 5px;
    margin-bottom: 16px;;
  }

  legend{
    grid-area: 1 / 1 / 1 / 1;
  }
}